In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
#import warnings
#warnings.filterwarnings("ignore")

In [2]:
df_base = pd.read_csv('Dataset_final_V4.csv')

In [3]:
df_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            1118 non-null   object
 1   discount        1119 non-null   int64
 2   price           1119 non-null   int64
 3   discount_price  1119 non-null   int64
 4   brand           1119 non-null   object
 5   feedbacks       1119 non-null   int64
 6   rating          1119 non-null   int64
 7   link            1119 non-null   object
 8   high_rating     1119 non-null   int64
 9   memory_size     1119 non-null   int64
 10  country         1038 non-null   object
 11  weight          881 non-null    float64
 12  width           811 non-null    float64
 13  height          828 non-null    float64
 14  thickness       741 non-null    float64
 15  screen_resol    1028 non-null   object
 16  screen_size_y   1068 non-null   float64
 17  screen_type     971 non-null    object
 18  MaxSDMemory     584 non-null    float64
 19  RAM             1119 non-null   float64
 20  OperSystem      968 non-null    object
 21  SIMType         983 non-null    object
 22  Warranty        992 non-null    object
 23  CPUType         1001 non-null   object
 24  CPUFreq         708 non-null    object
 25  CPUCores        1115 non-null   float64
 26  MainCameraMP    1119 non-null   int64
 27  FrontCameraMP   1119 non-null   int64
 28  SIMNumber       1103 non-null   float64
 29  Wireless        1012 non-null   object
 30  CommunicStand   960 non-null    object
 31  SatelliteNavig  908 non-null    object
 32  Battery         1119 non-null   int64
 33  InterfaceType   1006 non-null   object
 34  sales_count     1119 non-null   int64
dtypes: float64(9), int64(11), object(15)
memory usage: 306.1+ KB

Пропущенные значения в столбце **'country'** заменим на **'no data'**

In [4]:
df_base = df_base.fillna(value = {'country' : 'no data'})

В столбце **'name'** есть 20 значений с названием Смартфон, заменим их ручным поиском на корректное название модели телефона

In [5]:
df_base.name.value_counts()

Смартфон                        20
Galaxy A13                      14
Galaxy A53 5G                   13
Galaxy A23                      13
Galaxy A33 5G                   13
                                ..
POP 6 Pro 2                      1
Armor X5 Black                   1
V23e 6.44", 12                   1
Spark Go 2022, детский режим     1
10C  64Gb серый                  1
Name: name, Length: 768, dtype: int64

In [6]:
def find_data(dicts, col):
    for key, value in zip(dicts.keys(), dicts.values()):
        df_base[col].iloc[key] = value

In [7]:
name_values = {91: 'Wildfire E Lite', 173: 'Galaxy A52', 251: 'Galaxy A02', 399: 'K15 Plus', 
               527: 'K15 Plus', 627: 'WP12 Pro', 683: 'SMART 6', 690: 'WP12 Pro', 727: 'K15 Plus', 
               764: 'Galaxy S22 Ultra', 777: '8 Pro', 778: '9', 823: 'Redmi 9c', 825: 'K15 Plus', 
               836: 'SMART 6', 850: 'SMART 6', 852: 'SMART 6', 991: '50 Lite', 1029: 'A27', 1067: 'Spark Go 2022'
}

In [9]:
find_data(name_values, 'name')

C:\Users\glebychgame\AppData\Local\Temp\ipykernel_21980\3272460884.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_base[col].iloc[key] = value

Преобразуем некорректные названия моделей телефонов **'name'** к единому формату (сделал не до конца, вручную менять непосильно много значений)

In [10]:
df_base.name.value_counts()

Galaxy A13                      14
Galaxy A33 5G                   13
Galaxy A23                      13
Galaxy A53 5G                   13
Galaxy S22 Ultra 5G             12
                                ..
V23e 6.44", 12                   1
Spark Go 2022, детский режим     1
А55 4                            1
C31 3  серебристый               1
10C  64Gb серый                  1
Name: name, Length: 778, dtype: int64

In [11]:
df_base = df_base.replace({'name': {'Galaxy S22  5G ': 'Galaxy S22', 'iPhone 13  (СНГ)': 'iPhone 13', 
                                    'iPhone 12  (АЗИЯ)': 'iPhone 12', 'iPhone 13  (Япония)': 'iPhone 13', 
                                    'iPhone SE  (СНГ)': 'iPhone SE', 'iPhone 11  (Азия)': 'iPhone 11', 
                                    'Galaxy A53 5G 6.5" ': 'Galaxy A53 5G', 'iPhone 13 Pro Max  (СНГ)': 'iPhone 13 Pro Max', 
                                    'iPhone 13  (США)': 'iPhone 13', 'iPhone 12 ': 'iPhone 12', 
                                    'iPhone 14 Pro  (nano-SIM   eSIM)': 'iPhone 14 Pro', 'C40  32Gb': 'POCO C40', 
                                    'M4 5G 6  NFC': 'POCO M4 5G', 'Galaxy S22 Ultra 5G ': 'Galaxy S22 Ultra', 
                                    'Galaxy S22 5G ': 'Galaxy S22', 'Galaxy Z Flip4 5G ': 'Galaxy Z Flip4', 
                                    'Galaxy Z Fold4 5G ': 'Galaxy Z Fold4', 'HOT 20i 4 ': 'HOT 20i', 
                                    'C33 4 ': 'C33', '6061L Slim IPS 6"': '6061L Slim', 'Redmi 9C 3  NFC': 'Redmi 9C NFC', 
                                    '5046L Choice 5"': '5046L Choice LTE', 'Y33s 2109 6.58"  128Gb': 'Vivo Y33s', 
                                    'Apple iPhone 14 Pro Max ': 'iPhone 14 Pro Max', '9 5G 4  6.4" 120Гц': '9 5G', 
                                    '5565L Fest IPS 5,45"': '5565L Fest', '6353L Joy IPS 6,26"': '6353L Joy', 
                                    '12 Lite 8 ': '12 Lite', 'X4 Pro  256Gb': 'POCO X4 Pro 5G', 'Redmi 10C  128Gb': 'Redmi 10C', 
                                    'X7  128Gb': 'X7', '12T Pro RU': '12T Pro', '5060L Basic 5"': '5060L Basic', 
                                    'Redmi 10C 4 ': 'Redmi 10C', 'M5s  128Gb': 'POCO M5s', 'NOTE 12 6 ': 'NOTE 12', 
                                    'A48 6.1" 2 32гб Android 10 3000 mAh 2 sim 1640x720': 'A48', 'Galaxy A13 3 ': 'A13', 
                                    'Camon 19 Pro 8 ': 'Camon 19 Pro', 'Galaxy S21 FE 5G ': 'Galaxy S21 FE', 
                                    'Galaxy S21 FE ': 'Galaxy S21 FE', 'iPhone 14 Pro Max  (nano-SIM   eSIM)': 'iPhone 14 Pro Max', 
                                    'С35 зеленый 2408x1080 6.6" 4  5000 мАч': 'C35', 'Narzo 50i Prime 5000 мАч 6.5"': 'Narzo 50i Prime', 
                                    'Spark 8C 6.6" 4 ': 'Spark 8C', 'Pova POP 6 PRO ': 'POP 6 PRO', 
                                    'iPhone 13 Pro 1Tb (СНГ)': 'iPhone 13 Pro', 'Apple Apple iPhone 14  айфон 14': 'iPhone 14', 
                                    'X4 GT 6.6"FHD  8  NFC Ростест голубой': 'X4 GT', 
                                    'Redmi Note 11 Pro 5G  12 6.67" 1080 x 2400…': 'Redmi Note 11 Pro 5G'}})

In [12]:
df_base.name.value_counts()

Galaxy S22                      19
iPhone 13                       15
Galaxy A13                      14
Galaxy A23                      13
Galaxy A53 5G                   13
                                ..
POP 6 Pro 2                      1
Armor X5 Black                   1
V23e 6.44", 12                   1
Spark Go 2022, детский режим     1
10C  64Gb серый                  1
Name: name, Length: 768, dtype: int64

Вручную добавлям значения **weight** вместо пропущенных значений (тоже сделал не до конца из-за большого количества ручной работы)

In [13]:
#df_base[df_base.weight.isna()][['name', 'brand', 'memory_size', 'weight', 'link']].iloc[39:60]

In [14]:
wight_values = {6: 228.0, 15: 228.0, 45: 203.0, 49: 204.0, 51: 198.7, 71: 118.0, 88: 179.5, 
                95: 193.0, 97: 179.0, 100: 280.0, 107: 201.0, 108: 201.0, 109: 196.0, 135: 203.0, 
                137: 203.0, 146: 197.0, 151: 173.0, 154: 189.0, 156: 188.0, 158: 189.0, 164: 196.0, 
                165: 189.0, 169: 196.0, 172: 173.0, 174: 173.0, 180: 209.0, 183: 209.0, 185: 170.0, 
                189: 193.0, 197: 195.0, 203: 199.0, 204: 189.0, 210: 178.0, 222: 205.0, 223: 184.0, 
                237: 205.0, 251: 206.0, 257: 184.5, 264: 178.0, 294: 203.0, 302: 358.0, 310: 492.0,
                321: 167.0, 326: 175.0
}

In [21]:
#df_base['link'].iloc[264]

In [15]:
find_data(wight_values, 'weight')

C:\Users\glebychgame\AppData\Local\Temp\ipykernel_21980\3272460884.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_base[col].iloc[key] = value

Изменим некорректные **'SIMType'**, приведем к единому формату

In [16]:
df_base.SIMType.value_counts()

Nano-SIM                          639
nano SIM                          165
NanoSIM                            89
nano                               22
nano sim                            7
Micro-SIM                           7
nano sim; e-sim                     6
Micro-SIM; Nano-SIM                 5
нано-SIM                            5
micro SIM+nano SIM                  4
nano SIM; e-Sim                     4
2                                   3
micro SIM                           3
Стандартная SIM                     3
nano SIM; Apple SIM; micro SIM      2
nano SIM; eSim                      2
Nano-SIM (4FF)                      2
eSim                                2
nano‑SIM и eSIM                     1
Nano-SIM; eSim                      1
Dual SIM (nano-SIM)                 1
nanoSIM                             1
eSim; nano SIM                      1
нано сим-карта                      1
Nano-SIM; NanoSIM                   1
micro SIM; nano SIM                 1
nano SIM; micro SIM                 1
nanoSIM+nanoSIM                     1
nano- Sim                           1
Dual Nano SIM Cards                 1
e-Sim                               1
Name: SIMType, dtype: int64

In [17]:
df_base = df_base.replace({'SIMType': {'nano SIM': 'Nano-SIM', 'NanoSIM': 'Nano-SIM', 'nano': 'Nano-SIM', 
                                       'nano sim': 'Nano-SIM', 'нано-SIM': 'Nano-SIM', 'micro SIM+nano SIM': 'Micro-SIM; Nano-SIM', 
                                       'nano sim; e-sim': 'Nano-SIM; e-Sim', '2': 'no data', 'micro SIM': 'Micro-SIM', 
                                       'nano SIM; eSim': 'Nano-SIM; e-Sim', 'Nano-SIM (4FF)': 'Nano-SIM', 
                                       'nano‑SIM и eSIM': 'Nano-SIM; e-Sim', 'Nano-SIM; eSim': 'Nano-SIM; e-Sim', 
                                       'Dual SIM (nano-SIM)': 'Dual Nano-SIM', 'nanoSIM': 'Nano-SIM', 
                                       'eSim; nano SIM': 'Nano-SIM; e-Sim', 'нано сим-карта': 'Nano-SIM', 
                                       'Nano-SIM; NanoSIM': 'Dual Nano-SIM', 'micro SIM; nano SIM': 'Micro-SIM; Nano-SIM', 
                                       'nano SIM; micro SIM': 'Micro-SIM; Nano-SIM', 'nanoSIM+nanoSIM': 'Dual Nano-SIM', 
                                       'nano- Sim': 'Nano-SIM', 'Dual Nano SIM Cards': 'Dual Nano-SIM', 'eSim': 'e-Sim', 
                                       'nano SIM; Apple SIM; micro SIM': 'Nano-SIM; Apple-SIM; Micro-SIM', 
                                       'nano SIM; e-Sim': 'Nano-SIM; e-Sim'}})

In [18]:
df_base.SIMType.value_counts()

Nano-SIM                          932
Nano-SIM; e-Sim                    15
Micro-SIM; Nano-SIM                11
Micro-SIM                          10
Dual Nano-SIM                       4
Стандартная SIM                     3
no data                             3
e-Sim                               3
Nano-SIM; Apple-SIM; Micro-SIM      2
Name: SIMType, dtype: int64

Обработаем столбец **'brand'**. Модели POCO, Redmi и MI принадлежат Xiaomi, предлагаю сделать подсказку в виде добавления тега Xiaomi

In [19]:
df_base.brand.value_counts()

Samsung        240
Xiaomi         176
Apple          114
Realme          87
TECNO           66
Infinix         60
POCO            59
BQ              40
Redmi           38
ITEL            37
VIVO            22
Ulefone         20
Huawei          16
Honor           15
Nokia           14
Oukitel         14
OPPO            12
DOOGEE           9
Blackview        9
Black Shark      7
MI               7
ZTE              6
IIIF150          6
INOI             6
HTC              5
OnePlus          3
UMIDIGI          3
Poco Case        3
Coolpad          3
Alcatel          3
Caterpillar      3
TCL              2
Highscreen       2
AYYA             2
One Plus         2
Sony             2
Jinga            1
NUBIA            1
Ayala            1
Irbis            1
BLACK FOX        1
Google           1
Name: brand, dtype: int64

In [20]:
df_base = df_base.replace({'brand': {'POCO': 'Xiaomi POCO', 'Redmi': 'Xiaomi Redmi', 'MI': 'Xiaomi MI', 'One Plus': 'OnePlus'}})

In [21]:
df_base.memory_size.value_counts()

128     432
64      257
32      192
256     138
16       49
512      25
8         8
1024      6
4         3
0         3
126       2
124       1
1         1
12        1
114       1
Name: memory_size, dtype: int64

Преобразуем стобец **'screen_resol'** (*например 2412х1080 в список [2412,1080]*) и сохраним в новый столбец **'screen'**

In [22]:
df_base['screen'] = df_base['screen_resol'].str.findall(r'(\d+(?:\.\d+)?)')
df_base['resolution'] = 0
df_base['proportion'] = 0.0

В новый столбец **'resolution'** занесем полное разрешение экрана 2412х1080 = **2604960** , а в столбец **'proportion'** отношение высоты экрана в px к ширине.

In [24]:
for n, i in enumerate(df_base['screen']):
    if type(i) == list and i != [] and i != ['6.78']:
        df_base['resolution'][n] = int(i[0])*int(i[1])
        df_base['proportion'][n] = float(i[0])/float(i[1])

In [25]:
df_base = df_base.drop(columns=['screen'])

In [70]:
def change_column_order(df, col_name, index):
    cols = df.columns.tolist()
    cols.remove(col_name)
    cols.insert(index, col_name)
    return df[cols]

In [71]:
df_base = change_column_order(df_base, 'sales_count', 36)

In [72]:
df_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 37 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            1118 non-null   object
 1   discount        1119 non-null   int64
 2   price           1119 non-null   int64
 3   discount_price  1119 non-null   int64
 4   brand           1119 non-null   object
 5   feedbacks       1119 non-null   int64
 6   rating          1119 non-null   int64
 7   link            1119 non-null   object
 8   high_rating     1119 non-null   int64
 9   memory_size     1119 non-null   int64
 10  country         1119 non-null   object
 11  weight          925 non-null    float64
 12  width           811 non-null    float64
 13  height          828 non-null    float64
 14  thickness       741 non-null    float64
 15  screen_resol    1028 non-null   object
 16  screen_size_y   1068 non-null   float64
 17  screen_type     971 non-null    object
 18  MaxSDMemory     584 non-null    float64
 19  RAM             1119 non-null   float64
 20  OperSystem      968 non-null    object
 21  SIMType         983 non-null    object
 22  Warranty        992 non-null    object
 23  CPUType         1001 non-null   object
 24  CPUFreq         708 non-null    object
 25  CPUCores        1115 non-null   float64
 26  MainCameraMP    1119 non-null   int64
 27  FrontCameraMP   1119 non-null   int64
 28  SIMNumber       1103 non-null   float64
 29  Wireless        1012 non-null   object
 30  CommunicStand   960 non-null    object
 31  SatelliteNavig  908 non-null    object
 32  Battery         1119 non-null   int64
 33  InterfaceType   1006 non-null   object
 34  resolution      1119 non-null   int64
 35  proportion      1119 non-null   float64
 36  sales_count     1119 non-null   int64
dtypes: float64(10), int64(12), object(15)
memory usage: 323.6+ KB

В столбце **'Warranty'** преобразуем данные в числовой формат: сколько месяцев гарантии.

In [73]:
#df_base['Warranty'] = df_base['Warranty'].replace(np.nan, '0')
df_base['Warranty'] = df_base['Warranty'].str.extract('(\d+)').astype(float)
df_base = df_base.replace({'Warranty': {1.0: 12.0, 2.0: 24.0}})

In [74]:
df_base = df_base.replace({'Warranty': {1.0: 12.0, 2.0: 24.0}})

In [76]:
df_base['Warranty'].value_counts()

12.0    931
24.0     17
13.0     17
60.0      8
6.0       5
30.0      1
90.0      1
Name: Warranty, dtype: int64

Сохраним изменения в датасете в наш файл **Dataset_final_V4.csv**

In [78]:
df_base.to_csv('Dataset_final_V4.csv')